*{
    margin: 0;
    padding: 0;
}

.a_navigator{
    text-decoration: none;
    color: black; 
}

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#3A4651;
    overflow-x: hidden;

}
  
/* Style the sidenav links and the dropdown button */
.dropdown-container button, .dropdown-btn {
    padding: 15px 15px 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF80;
    display: block;
    border: none;
    background: #3A4651;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-family: 'Montserrat';

}

.dropdown-container a, .dropdown-btn {
    padding: 15px 15px 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF80;
    display: block;
    border: none;
    background: #3A4651;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-family: 'Montserrat';
    
}
.dropdown-container a{
    padding: 15px 15px 15px 40px;
}
.dropdown-container a:hover{
    background-color: #2d363f;
    color: #FFFFFF;
}
.dropdown-btn {
    display: flex;
    justify-content: space-between;
}
.dropItem{
    display: flex;
    gap: 15px;
}
.dropdown-admin{
    padding: 21px 15px 21px 15px;
    background-color:#496bc8;
    color: #FFFFFF;
    text-align: center;
}

.dropdown-container a, .dropdown-btn:active {
    background-color: #2d363f;
}
.dropdown-container button, .dropdown-btn:active {
    background-color: #2d363f;
}


/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #dfdfdf;;
    padding: -20px 0px; 
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.dropdown-container a{
    padding: 15px 15px 15px 60px;
}

.sidenav button:hover {
    background-color: #2d363f;
    color: #FFFFFF;
}

.sidenav button:hover a{
    background-color: #2d363f;
    color: #FFFFFF;
}
  
/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}



.ti-angle-down {
    font-size: 14px;
}



@media screen and (max-width: 600px) {
    .sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidenav {
        display: none;
    }
    .menu {
        height: 40px;
        width: 100vw;
        background-color: #000000;
        color: white;
        font-size: 25px;
    }
}

@media screen and (min-width: 600px) {    
    /* Main content */
    .content {
        margin-left: 240px; /* Same as the width of the sidenav */
        font-size: 20px; /* Increased text to enable scrolling */
        padding: 0px 10px;
    }
}

