.content {
  margin-top: -30px;
  background-color: #e0dddd;
  text-align: center;
  justify-content: center;
  padding-top: 20px;
}

.count {
  display: flex;
  justify-content: space-evenly;
}

.count_box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #41B3A3;
  width: 350px;
  height: 100px;
  margin: 25px;
  border-radius: 15px;
}

.count_box > p {
  font-size: 24px;
}
